@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}

:root {
  --light-grey: #f3f9fd;
  --primary-red: #ea2028;
  --primary-black: #140e0e;
  --light-red: #e84646;
}

body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
  /* background-color: var(--light-grey); */
}

a {
  color: inherit;
  text-decoration: none;
}

.logo {
  font-size: 1.7rem;
}
/* NAVBAR */

.nav-container {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem;
  margin-bottom: 2rem;
  border-bottom: 2px solid var(--primary-red);
}

.nav-item {
  cursor: pointer;
  margin-right: 1.5rem;
}

.nav-link {
  transition: 0.3s all ease;
}

.nav-item:last-child {
  margin-right: 0;
}

.nav-link:hover {
  color: var(--primary-red);
}

/* BUTTONS */
.btn {
  background-color: #fff;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8rem;
  padding: 0.3rem 1.3rem;
  border: 2px solid var(--primary-red);
  border-radius: 6px;
  transition: 0.3s all ease;
}

.btn:focus {
  outline: none;
}

.btn-login {
  width: 100%;
}

.btn-login,
.btn-logout,
.btn-join {
  background-color: var(--primary-red);
  color: #fff;
}

.btn-login:hover,
.btn-logout:hover,
.btn-join:hover {
  opacity: 0.9;
}

.btn-invite {
  color: var(--primary-red);
}

.btn-invite:hover {
  background-color: var(--primary-red);
  color: #fff;
}

.btn-run,
.btn-clear {
  border: 2px solid #000;
  background-color: #000;
  color: #fff;
}

/* AUTH FORMS */
.auth-container {
  padding: 4rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.form-container {
  width: 250px;
}

.form-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}

.form-item label {
  margin-bottom: 0.2rem;
}

/* INVITE CONTAINER */

.invite-container {
  margin-left: 2rem;
  margin-bottom: 1rem;
}

.invite-item {
  margin-left: 1rem;
}

/* CODE EDITOR */
.board-container {
  /* box-sizing: border-box !important; */
  display: flex;
  margin-bottom: 2rem;
}

.editor-form-component {
  margin-top: 0% !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 80vh;
}

/* To apply styling to the code editor you need to use .code pre-class */
.code,
.editor {
  margin-top: 0% !important;
  flex: 1;
  min-width: 50vw;
  min-height: 80vh;
  background-color: black;
  caret-color: white;
}

.submit-code {
  margin-top: 1rem;
}

/** Fabric Whiteboard **/

.whiteboard-component {
  box-sizing: border-box !important;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fabric-whiteboard {
  flex: 1;
  margin-top: 0%;
  min-width: 50vw !important;
  min-height: 80vh !important;
}

.whiteboard {
  border: 1px solid black;
  width: 50vw;
  height: 40vw;
  z-index: -1;
}

.toolbar {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.output {
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 50%;
  height: 50%;
  width: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ccc;
  background: #fff;
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 10px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.output .modal-title {
  text-align: center;
}

.result {
  border: 1px solid black;
  border-radius: 4px;
  height: 75%;
  width: 90%;
  margin: 5%;
  background-color: lightgray;
  text-align: left;
  font-weight: 900;
}

.exit-modal {
  border-radius: 4px;
  border: none;
  background-color: #ea2028;
  padding: 1%;
  color: #ffffff;
}
